:root {
  /* ### Primary */

  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --attribution-bg-color: white;
  --attribution-color: peru;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

h2,
h3 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 3px;
  line-height: 1;
  font-size: 55px;
}

h2::before,
h3:before {
  display: block;
  content: "";
  width: 150px;
  height: 1px;
  background-color: var(--Dark-Grayish-Violet);
  margin-bottom: 60px;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.container {
  max-width: 1224px;
  margin: auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header nav .menu {
  display: flex;
}

header nav .close-menu {
  display: none;
}

header nav .menu ul {
  display: flex;
  align-items: center;
}

header nav .menu ul li {
  margin-left: 30px;
  list-style: none;
}

header nav .menu ul li a {
  color: var(--Dark-Grayish-Violet);
  text-decoration: none;
  text-transform: uppercase;
}

header nav .menu ul li a:hover {
  color: var(--Very-Dark-Violet);
}

header nav .menu .button {
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
  margin-left: 30px;
  border: 2px solid var(--Very-Dark-Violet);
  cursor: pointer;
}

header nav .menu .button:hover {
  border: 2px solid var(--Very-Light-Gray);
  background-color: var(--Very-Dark-Violet);
}

header nav .menu .button:hover a {
  color: var(--Very-Light-Gray);
}

header nav .menu .button a {
  color: var(--Very-Dark-Violet);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

header div[role="banner"] {
  position: relative;
  background-color: var(--Dark-Violet);
  color: var(--Very-Light-Gray);
  min-height: 580px;
  height: 62vh;
  margin-bottom: 300px;
}

header div[role="banner"] > div {
  position: relative;
}

header div[role="banner"] img {
  position: absolute;
  top: 90px;
  right: 0px;
}

header div[role="banner"] img.pattern-right {
  top: 0;
  height: 90%;
}

header div[role="banner"] img.pattern-left {
  left: 0;
  top: 370px;
}

header div[role="banner"] .banner-card {
  width: 580px;
  padding-top: 90px;
}

header div[role="banner"] .banner-card p {
  color: var(--Dark-Grayish-Violet);
  line-height: 1.5;
  font-size: 17px;
  margin-top: 25px;
}

header div[role="banner"] .banner-card .button {
  display: inline-block;
  padding: 5px 25px;
  text-align: center;
  margin-top: 30px;
  border: 2px solid var(--Very-Light-Gray);
  cursor: pointer;
}

header div[role="banner"] .banner-card .button a {
  color: var(--Very-Light-Gray);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

main .how-we-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  grid-gap: 13%;
}

main .how-we-work > div h4 {
  margin: 30px 0px 15px 0px;
}

main .how-we-work > div p {
  line-height: 1.5;
  margin-bottom: 160px;
}

main .find-more {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Very-Light-Gray);
  background-color: var(--Dark-Violet);
  padding: 80px;
}

main .find-more img {
  position: absolute;
  right: 0;
}

main .find-more p {
  font-family: "DM Serif Display", serif;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 55px;
  width: 40%;
}

main .find-more .button {
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  margin-top: 30px;
  border: 2px solid var(--Very-Light-Gray);
  cursor: pointer;
}

main .find-more .button a {
  color: var(--Very-Light-Gray);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

footer {
  background-color: var(--Very-Light-Gray);
  margin-top: 150px;
}

footer > img {
  position: absolute;
}

footer .top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

footer .top-footer .links-social ul {
  display: flex;
  /* width: 100%; */
}

footer .top-footer .links-social ul li {
  list-style: none;
  padding: 0px 25px;
}

footer .top-footer .links-social img:hover {
  filter: brightness(0);
  /* color: var(--Very-Dark-Violet); */
}

footer hr {
  background-color: var(--Dark-Grayish-Violet);
  border-bottom: 0.1px solid var(--Dark-Grayish-Violet);
}

footer .row {
  display: flex;
  padding: 35px 0px;
}

footer .row .col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 0 100px;
}

footer .row .col ul li {
  list-style: none;
}

footer .row .col ul li:nth-child(1) a {
  font-size: 15px;
  text-decoration: none;
  color: var(--Dark-Grayish-Violet);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5;
}

footer .row .col ul li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: var(--Very-Dark-Violet);
  line-height: 1.8;
}

footer .row .col ul li a:hover {
  border-bottom: 1px solid var(--Very-Dark-Violet);
}

footer .attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  background-color: var(--attribution-bg-color);
  height: 30px;
}

footer .attribution a {
  color: var(--attribution-color);
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px 0 10px;
}

@media only screen and (min-width: 900px) {
  .hide-lg {
    display: none !important;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  nav {
    padding: 0 30px;
  }
  header div[role="banner"] .container img {
    width: 50%;
    position: absolute;
    top: 150px;
  }

  header div[role="banner"] .banner-card {
    width: 40%;
    padding-left: 30px
  }
}

@media only screen and (max-width: 900px) {
  .hide-sm {
    display: none !important;
  }

  header nav {
    padding: 0px 30px;
  }

  header nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;
    bottom: 0;
    z-index: 1;
    background-color: var(--Very-Light-Gray);
  }

  header nav .brand {
    margin: 30px 0px;
  }

  header nav .menu {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }

  header nav .menu ul {
    flex-direction: column;
  }

  header nav .menu ul li {
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }

  header nav .menu ul li a {
    margin: 0;
  }

  header nav .menu ul li a:hover {
    color: var(--Very-Dark-Violet);
  }

  header nav .menu .button {
    margin: 0;
  }

  header nav .close-menu {
    position: absolute;
    right: 50px;
    top: 0;
    font-size: 30px;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  header div[role="banner"] {
    position: relative;
    background-color: var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    min-height: auto;
    height: auto;
    margin-bottom: 300px;
  }

  header div[role="banner"] > div {
    position: static;
    display: flex;
    flex-direction: column-reverse;
  }

  header div[role="banner"] img {
    position: static;
  }

  header div[role="banner"] img.pattern-right {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -210px;
    height: 400px;
  }

  header div[role="banner"] img.pattern-left {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 230px;
  }

  header div[role="banner"] .banner-card {
    position: relative;
    text-align: center;
    width: auto;
    min-height: 500px;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header div[role="banner"] h2::before {
    display: none;
  }

  main .how-we-work {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    grid-gap: 13%;
    padding: 30px;
  }

  main h3 {
    text-align: center;
    font-size: 40px;
  }

  main h3::before {
    margin-left: auto;
    margin-right: auto;
  }

  main .find-more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Very-Light-Gray);
    background-color: var(--Very-Dark-Violet);
    padding: 80px;
  }

  main .find-more img {
    position: absolute;
    top: 0px;
    height: 100%;
  }

  main .find-more p {
    text-align: center;
    width: 100%;
  }

  footer > img {
    z-index: 0;
  } 

  footer .logo-footer img {
    width: 180px;
  }

  footer .top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 90px 0px 60px 0px;
    z-index: 1;
  }

  footer .top-footer .links-social ul {
    display: flex;
    margin-top: 50px;
  }

  footer .top-footer .links-social ul li {
    padding: 0px 15px;
  }

  footer .top-footer .links-social img {
    width: 35px;
  }

  footer hr {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  footer .row {
    flex-direction: column;
    text-align: center;
    padding: 35px 0px;
  }

  footer .row .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0 100px;
  }

  footer .row .col ul li {
    list-style: none;
  }

  footer .row .col ul li:nth-child(1) a {
    font-size: 15px;
    text-decoration: none;
    color: var(--Dark-Grayish-Violet);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 5;
  }

  footer .row .col ul li a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--Very-Dark-Violet);
    line-height: 1.8;
  }

  footer .row .col ul li a:hover {
    border-bottom: 1px solid var(--Very-Dark-Violet);
  }

  footer .attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    background-color: var(--attribution-bg-color);
    height: 30px;
  }
}
